.containerInput {
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}

.searchIcon {
  position: absolute;
  top: 0.8rem;
  left: 1.2rem;
}

.input {
  width: 100%;
  padding: 1.2rem;
  padding-left: 4.2rem;
  border-radius: 2.5rem;
  outline: none;
  border: 1px solid #ccc;
}

.suggestionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1.5rem;
  background-color: #ccc;
  position: absolute;
  border-radius: 0.8rem;
  margin-top: 0.5rem;
  min-height: 11rem;
}

.suggestion {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.suggestionText {
  color: #323232;
  margin-left: 0.5rem;
}

@media (min-width: 1024px) {
  .containerInput {
    margin-bottom: 2rem;
  }
}
