.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerImageAndInput {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  max-width: 60rem;
}

.imageContainer {
  margin-right: 1.5rem;
  padding-bottom: 0.8rem;
}

.containerSearchInput {
  padding-top: 1.3rem;
  width: 100%;
}
