.moreLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  max-width: 8rem;
  padding: 1rem 0;
}

.homePageStyles {
  align-self: flex-end;
}

.menuGrid {
  margin-left: 2rem;
}

.image {
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .moreLinks {
    padding-right: 2rem;
    max-width: 12rem;
  }
}
