.main {
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 144rem;
}

.findedResultsText {
  font-size: 1.5rem;
  font-weight: 500;
  color: #acacac;
}

.findedResultContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  width: 100%;
}

.head {
  display: flex;
  align-items: center;
}

.eu {
  border-radius: 50%;
}

.containerSiteInfo {
  margin-left: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #3c3c3c;
}

.subtitle {
  font-size: 1.3rem;
  color: #424242;
}

.containerProjects {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.3rem;
}

.containerProject {
  margin-bottom: 1.5rem;
}

.projectTitle {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.6rem;
  color: #8ab4f8;
  margin-bottom: 1rem;
}

.projectSubTitle {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #616161;
  text-align: justify;
}
